<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	 version="4.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    

    
       <servlet>
        <servlet-name>simpleservlet</servlet-name>
        <servlet-class>servlet.simpleservlet</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>simpleservlet</servlet-name>
        <url-pattern>/abc</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HandleRequest</servlet-name>
        <servlet-class>servlet.HandleRequest</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>HandleRequest</servlet-name>
        <url-pattern>/abd</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>cookiedemo.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
    <servlet-class>cookiedemo.SecondServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Sessionfs</servlet-name>
        <servlet-class>sessions.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sessionfs</servlet-name>
        <url-pattern>/Session_FirstServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>SessionSs</servlet-name>
        <servlet-class>sessions.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionSs</servlet-name>
        <url-pattern>/Session_SecondServlet</url-pattern>
    </servlet-mapping>
       <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>databaseservlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
